
button
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding-top: 20px; 
    background-color:rgb(40, 40, 156) ;
    padding: 15px 32px;
    text-align: center;
    font-size:20px;
    color:white;
    
}
 * {
    direction: rtl
} 



.labels {
    
    align-self: center;
}
.row {
    margin-top: 15px;
}
.form-group row{
    margin-bottom:0px;
}

/* .custom-checkbox{
    /* text-align:right;
    align-self:center;
    flex-direction: column-reverse;
    display: flex;
} */
