<div class="container">

  <h1 class="row">Add or Edit Place</h1>
  <div class="row">
    <label class="col-md-3 col-12" for="namePlace">Name:</label>
    <input id="namePlace" class="col-md-9 col-12" type="text" placeholder="name of place" [(ngModel)]="namePlace">
    <div class="col-md-6 col-12"> Type:</div>
    <input type="text" class="col-md-6 col-12" placeholder="Dishes type" [(ngModel)]="typeDishes">
    <br/> Phone:
    <input type="number" placeholder="phone" [(ngModel)]="phone">
    <br/> Description:
    <input type="text" [(ngModel)]="Description">
    <br/> more Info:
    <input type="text" [(ngModel)]="moreInfo">
    <br/> location on map:
    <input type="text" [(ngModel)]="locationMap">
    <br/> Address:
    <input type="text" [(ngModel)]="Address">
    <br/> facilities\ Service:
    <input type="text" [(ngModel)]="facilities">
    <br/> priceRange:
    <input type="text" [(ngModel)]="priceRange">
    <br/> kosher:
    <input type="checkbox" [(ngModel)]="kosher" />
  </div>
  <h2>opening</h2>
  <div>

    open Hour:
    <input type="number" placeholder="00" [(ngModel)]="opening.openHour" /> open Min:
    <input type="number" placeholder="00" [(ngModel)]="opening.openMin"> close Hour:
    <input type="number" placeholder="00" [(ngModel)]="opening.closeHour"> close Min:
    <input type="number" placeholder="00" [(ngModel)]="opening.closeMin">
  </div>

  <h2>Sensitivity And Preferences</h2>
  <div>

    Gluten free menu:
    <input type="checkbox" [(ngModel)]="sensitivePreferences.gfMenu" /> Sensitivity:
    <input type="text" [(ngModel)]="sensitivePreferences.sensitivity"> Preferences:
    <input type="text" [(ngModel)]="sensitivePreferences.preferences"> Accessibility:
    <input type="checkbox" [(ngModel)]="sensitivePreferences.accessibility" />
  </div>

  <h2>links</h2>
  <div>

    website:
    <input type="text" [(ngModel)]="linksUrl.website" /> facebook:
    <input type="text" [(ngModel)]="linksUrl.facebook">
  </div>
</div>


<button (click)="save()" routerLink="/main-screen">Save</button>

