 * {
    direction: rtl
} 



.labels {
    
    align-self: center;
}
.row {
    margin-top: 15px;
}
.form-group row{
    margin-bottom:0px;
}

/* .custom-checkbox{
    /* text-align:right;
    align-self:center;
    flex-direction: column-reverse;
    display: flex;
} */
