/*button
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding-top: 20px; 
    background-color:rgb(40, 40, 156) ;
    padding: 15px 32px;
    text-align: center;
    font-size:20px;
    color:white;
    
}*/